@page
@model WebApp_DependancyInjection.Pages.Pobrane_z_plikuModel
@{
}


<div class="FullWithLeftMargin">
    <h1>products.json file contents:</h1>

    @foreach (var product in Model.products)
    {
        <pre>@product.ToString()</pre>
    }
</div>